html,
body {
  margin: 0;
  padding: 0;
}
span,
div,
pre {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}
ul li {
  line-height: 25px;
}
pre {
  display: inline-block;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 10px;
  background: #FCFCFC;
  width: 100%;
}
fieldset {
  border: 1px solid #AAA;
  border-radius: 5px;
}
fieldset legend {
  cursor: pointer;
}
fieldset > div {
  display: none;
}
